<!DOCTYPE html>
{% load staticfiles %}
<html manifest="{% static 'cache.manifest' %}">
  <head>
    <meta content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="{% static 'libs/jquery-2.1.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'libs/bootstrap.min.css' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap.min.js' %}"></script>
    <title>
      {% block tytul %}Strona główna{% endblock %}
    </title>
  </head>

  <body>
    {% block zawartosc %}
    <a href="{% url 'lista_faktur' %}">
      lista faktur
    </a>
    {% endblock %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>
	{{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
